<% if @blogs.present? %>
  <% @blogs.each_with_index do |blog, index| %>
    <% if ((index + 1) % 4 == 0) %>
      <div class="border shadow ml-5 mb-4 p-4 text-dark border-corner">
        <div>google ad</div>
      </div>
    <% end %>
    <div class="border shadow ml-5 mb-4 p-4 text-dark border-corner">
      <div><%= link_to(blog.user.name, user_path(id: blog.user.username)) %> in <%= link_to(blog.category.name, category_path(blog.category.slug)) %></div>
      <% if blog.live? %>
        <%= link_to blog_show_path(id: blog, category_id: blog.category) do %>
          <h4><%= blog.title %></h4>
          <p class="mt-3"><%= raw blog.short_description %></p>
        <% end %>
      <% else %>
        <%= link_to edit_blog_path(blog.slug) do %>
          <h4><%= blog.title %></h4>
          <p class="mt-3"><%= raw blog.short_description %></p>
        <% end %>
      <% end %>
      <p class="mt-3 inline-para"><%= blog.updated_at.strftime('%b %d, %Y') %></p>
      <p class="mt-3 inline-para"><%= blog.likes_count %> <i class="fas fa-heart fa-theme-red"></i></p>
      <p class="mt-3 inline-para"><%= blog.comments_count %> <i class="fas fa-comments"></i></p>
    </div>
  <% end %>
  <div class="ml-5 float-right">
    <%= paginate @blogs %>
  </div>
<% else %>
  <div class="ml-5 mb-4 p-4 text-dark border-corner text-center">
    <img src= "<%= image_url('no-content-found.svg') %>" width= "60%" height= "60%" loading="lazy">
    <div class="text-center" style="display: inline-block;">
      <span>No articles found </span>
      <% if current_user %>
        <%= link_to 'Write your Own', new_blog_path ,class: 'btn btn-bg mt-3 mb-3 btn-theme' %>
      <% else %>
        <a href="javascript:void(0)" onclick="showModalPopUp('login_modal')" class="btn btn-bg mt-3 mb-3 btn-theme">Write your Own</a>
      <% end %>
    </div>
  </div>
<% end %>