<% if @blogs.present? %>
  <% @blogs.each_with_index do |blog, index| %>
    <% if ((index + 1) % 4 == 0) %>
      <div class="content-wrap c-wrap">
        <div>google ad</div>
      </div>
    <% end %>
    <!-- .content-wrap -->
    <div class="content-wrap c-wrap">
      <div class="blog-info">
        <div class="user-img">
          <img src="<%= blog.user.avatar %>" class="rounded-circle">
        </div>
        <div class="blog-detail">
          <div class="u_name">
            <%= link_to(blog.user.name, user_path(id: blog.user.username)) %>
          </div>
          <div class="blog-category">
            <%= link_to(blog.category.name, category_path(blog.category.slug)) %> 
            <span>&#8211;</span>
            <span class="f12"> <%= blog.updated_at.strftime('%b %d, %Y') %></span>
          </div>
        </div>
      </div>
      <div class="blog-desc">
        <% if blog.live? %>
          <%= link_to blog_show_path(id: blog, category_id: blog.category) do %>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h3 class="blog-title mb-0"><%= blog.title %></h3>
              <div class="blog-activity">
                <span class="mx-2"><%= blog.likes_count %> <i class="fas fa-heart fa-theme-red"></i></span>
                <span><%= blog.comments_count %> <i class="fas fa-comments dark-color"></i></span>
              </div>
            </div>
            <p class="mb-0"><%= raw blog.short_description %></p>
          <% end %>
        <% else %>
          <%= link_to edit_blog_path(blog.slug) do %>
            <h3><%= blog.title %></h3>
            <p class="mb-0"><%= raw blog.short_description %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- end of .content-wrap -->
  <% end %>
  <div class="ml-lg-5">
    <%= paginate @blogs %>
  </div>
<% else %>
  <div class="content-wrap c-wrap text-center">
    <img src= "<%= image_url('no-content-found.svg') %>" width= "60%" height= "60%" loading="lazy">
    <div class="text-center" style="display: inline-block;">
      <span>No articles found </span>
      <% if current_user %>
        <%= link_to 'Write your Own', new_blog_path ,class: 'btn btn-bg mt-3 mb-3 btn-theme' %>
      <% else %>
        <a href="javascript:void(0)" onclick="showModalPopUp('login_modal')" class="btn btn-bg mt-3 mb-3 btn-theme">Write your Own</a>
      <% end %>
    </div>
  </div>
<% end %>