<!-- <h3>Comments (<span class="comments-count"><%= @blog.comments_count %></span>)</h3> -->
<% if current_user %>
  <div class="mb-5 bg-white">
    <%= form_for(Comment.new, remote: true) do |form| %>
      <div class="my-3">
        <%= hidden_field_tag :blog_id, @blog.slug %>
        <%= form.text_area :body , class: "form-control redactor-comment", required: true %>
      </div>
      <%= form.submit 'Reply', class: 'btn btn-theme rounded-0 float-right' %>
    <% end %>
  </div>
<% else %>
  <div class="mb-5 border shadow p-4 bg-light text-dark border-corner overflow-hidden">
    <i class="fas fa-unlock-alt mr-2"></i>Sign In to add your thoughts...
    <a class="btn btn-outline-primary ml-3" href="<%= new_user_session_path %>">LogIn</a>
    <div class="disable-form-container mt-2">
      <div class="hidden-form"></div>
      <div class="disable-form">
        <div class="my-3">
          <%= text_area_tag :comment , "It's an Awesome article! ", class: "form-control", rows: "10"%>
        </div>
        <%= button_tag 'Reply', class: 'btn btn-theme rounded-0 float-right mr-3' %>
      </div>
    </div>
  </div>
<% end %>
<div class="mb-5 border shadow p-4 text-dark border-corner overflow-hidden <%= 'd-none' unless @comments.present? %>" id="comment-section">
  <div id="comments">  
    <% @comments.each do |comment| %>
      <%= render 'blogs/comments/show', comment: comment %>
    <% end %>
  </div>
</div>
<% unless @comments.present? %>
  <div class="mb-5 p-4 text-dark border-corner overflow-hidden text-center c-wrap" id="no-comment-image">
    <img src= "<%= image_url('no-comments-found.svg') %>" width= "60%" height= "60%" loading="lazy">
    <h5 class="pt-4">Be the first one to share your thoughts!</h5>
  </div>
<% end %>