<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.description.gsub("<table>","<table class='table table-bordered'>").html_safe %>
</p>

<h3>Category: <%= @blog.category.name %></h3>
<p class="mt-3">Tags: <%= raw @blog.taggings.map { |t| link_to t.tag.name, tag_path(t.tag.slug) }.join(', ') %></p>

<%= link_to 'Edit', edit_blog_path(@blog),class: "btn btn-outline-info btn-sm" %> |
<%= link_to 'Back', blogs_path,class: "btn btn-outline-primary btn-sm" %>
