<%= stylesheet_link_tag 'login_signup/style' %>
<% content_for :title, 'Register' %>
<div class="login-form">
  <div class="form-box">
    <div class="button-box">
      <div id="login-form-btn" style="left: 125px;"></div>
      <a type="button" href="/users/sign_in" class="toggle-btn">Log In</a>
      <a type="button" class="toggle-btn text-white">Register</a>
    </div>
    <div class="social-icons">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <% if provider == :google_oauth2 %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do %>
            <img src="https://res-4.cloudinary.com/linkisin/image/asset/f_auto,fl_lossy,q_auto/google-icon-252d781740e912efab287591e0942093.png" alt="Google icon">
          <% end %>
        <% elsif provider == :facebook %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do %>
            <img src="https://res-1.cloudinary.com/linkisin/image/asset/f_auto,fl_lossy,q_auto/facebook-icon-244d6370cec26acde422cfaaf439a7f1.png" alt="Facebook icon">
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'input-group', id: 'register' }, remote: true) do |f| %>
      <p class="error error-msg"></p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", placeholder: 'Enter Email', required: true %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Enter Password', class: 'input-field', required: "true" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Re-Enter Password', class: 'input-field', required: "true" %>
      <input type="checkbox" name="remember" class="check-box" required="true"><span>I agree to the Terms and Conditions</span>
      <%= f.submit "Sign up", class: "submit-btn" %>
    <% end %>
  </div>
</div>