<!-- Note: Avatar is pending -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 ml-lg-5">
      <h4 class="mb-3 text-center">Update Profile</h4>
      <div class="mb-4 border border-light pb-3 pt-3 px-3 shadow border-corner">
        <%= form_for(@user, url: user_path(@user.username), method: :patch) do |form| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="my-3">
            <label>Name</label>
            <%= form.text_field :name, class: "form-control", required: true %>
          </div>

          <div class="my-3">
            <label>Bio</label>
            <%= form.text_area :bio , class: "form-control", placeholder: 'Share about yourself...', rows: 5 %>
          </div>

          <div class="my-3">
            <label>Birth Date</label>
            <%= form.date_field :birth_date, class: "form-control datepicker" %>
          </div>

          <div class="my-3">
            <label>Mobile Number</label>
            <%= form.text_field :mobile_number, class: "form-control" %>
          </div>

          <div class="my-3">
            <label>Country</label>
            <%= form.select :country_id, options_for_select(get_countries, @user.country_id), { prompt: '--Select Country--' }, class: "form-control custom-select select_two" %>
          </div>

          <div class="actions">
            <%= form.submit 'Update Profile', class: 'btn btn-bg mt-4 mb-3 btn-theme' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="user-form-avatar border border-light shadow border-corner text-center mt-5">
        <div class="pt-5">
          <%= link_to 'javascript:void(0)' do %>
            <% if @user.avatar %>
              <img src="<%= @user.avatar %>" class="rounded-circle">
            <% else %>
              <img class="" src="<%= image_url('default_user.png') %>">
            <% end %>
          <% end %>
        </div>
        <div class="pt-5 pb-2">
          <h5 class=""><%= @user.name %></h5>
          <p class="">@<%= @user.username %>
            <%= link_to 'javascript:void(0)', 'data-toggle'=>"modal", "data-target"=>"#updateUsername" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateUsername" tabindex="-1" role="dialog" aria-labelledby="updateUsernameLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: white!important;">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUsernameLabel">Update Username</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@user, url: update_username_user_path(@user.username), method: :put, remote: true) do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <label for="username" class="col-form-label">Username:</label>
            <%= form.text_field :username, class: 'form-control' %>
            <span class="error"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit 'Update', class: 'btn btn-theme' %>
        </div>
      <% end %>
    </div>
  </div>
</div>