<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 d-none d-md-block">
    </div>
    <div class="col-md-6">
      <h4 class="mb-3 text-center">Change your password</h4>
      <div class="mb-4 border border-light pb-3 pt-3 px-3 shadow border-corner">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field my-3">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field my-3">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: 'btn btn-bg mt-4 mb-3 btn-theme' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
