<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 d-none d-md-block">
    </div>
    <div class="col-md-6">
      <h4 class="mb-3 text-center">Forgot your password?</h4>
      <div class="mb-4 border border-light pb-3 pt-3 px-3 shadow border-corner">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field my-3">
            <b><%= f.label 'Email' %></b><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-bg mt-4 mb-3 btn-theme' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
    </div>
  </div>
</div>
