<div class="col-md-3">
  <%= link_to user_path(id: user.username) do %>
    <div class="card card-block trending-card">
      <div class="card-image pt-3">
        <% if user.avatar.present? %>
          <img src="<%= user.avatar %>" class="rounded-circle" alt="user">
        <% else %>
          <img class="card-img-top" src="<%= image_url('default_user.png') %>" alt="user">
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center two-line-text"><%= user.name %></h5>
        <p class="card-text"><%= user.username %></p>
        <p class="card-text"><b><%= user.blogs_count %></b> Articles published</p>
      </div>
    </div>
  <% end %>
</div>