<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 mb-5">
      <% if @users.present? %>
        <div class="mb-5 ml-lg-3 overflow-hidden">
          <h5 class="mb-3"><b>Searched Users</b></h5>
          <div class="row flex-row flex-nowrap trending-users">
            <% @users.each do |user| %>
              <%= render 'search_user', user: user %>
            <% end %>
          </div>
        </div>
        <% if @users.count > 4 %>
          <%= link_to search_path(q: params[:q], type: 'users'), class: "btn btn-outline-success follow-btn" do %>
            More users search results →
          <% end %>
        <% end %>
        <hr>
      <% end %>
      <h5 class="mb-3 ml-lg-3"><b>Searched Articles</b></h5>
      <% if @articles.present? %>
        <% @articles.each_with_index do |blog, index| %>
          <%= render 'search_blog', blog: blog, index: index%>
        <% end %>
        <% if @articles.count > 10 %>
          <%= link_to search_path(q: params[:q], type: 'blogs'), class: "btn btn-outline-success follow-btn" do %>
            More Articles search results →
          <% end %>
        <% end %>
      <% else %>
        <%= render 'blog_no_articles' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="border shadow p-4 mr-lg-3 text-dark border-corner">
        <h5 class="mb-3"><b>Searched tags</b></h5>
        <% if @tags.present? %>
          <div class="tags-div">
            <% @tags.each do |tag| %>
              <%= link_to tag_path(tag.slug) do %>
                <button type="button" class="btn btn-theme mr-2 mb-2 tags-hover">
                  <b><%= tag.name %> <span class="badge badge-light"><%= tag.count %></span></b>
                </button>
              <% end %>
            <% end %>
          </div>
          <!-- <div class="tags-load-more text-center"> -->
            <%#= link_to 'javascript:void(0)', class: 'btn btn-outline-success follow-btn' do %>
              <!-- <i class="fas fa-plus-circle"></i> -->
            <!-- <%# end %> -->
          <!-- </div> -->
        <% else %>
          <i class="fas fa-tag mr-2"></i><span>No Tags found </span>
        <% end %>
      </div>
    </div>
  </div>
</div>