<% if @follow_action == 'follow' %>
  <% if current_user %>
    <button class="btn btn-outline-success follow-btn btn-sm" data-followable_type="<%= @followable_type %>" data-followable_id="<%= @followable_id %>" data-follow_action="<%= @follow_action %>"> +Follow</button>
  <% else %>
    <a class="btn btn-outline-success follow-btn btn-sm" href="<%= new_user_session_path %>"> +Follow</a>
  <% end %>
<% else %>
  <button class="btn btn-theme ml-3 follow-btn btn-sm" data-followable_type="<%= @followable_type %>" data-followable_id="<%= @followable_id %>" data-follow_action="<%= @follow_action %>"><i class="fas fa-check"></i> Following</button>
<% end %>