<% if @follow_action == 'follow' %>
  <button class="btn btn-theme follow-btn btn-sm d-flex align-items-center" data-followable_type="<%= @followable_type %>" data-followable_id="<%= @followable_id %>" data-list_page="1" data-follow_action="<%= @follow_action %>"> <i class="fas fa-user-plus f12 mr-1 text-white"></i>Follow</button>
<% else %>
  <button class="btn btn-theme follow-btn btn-sm align-items-center" data-followable_type="<%= @followable_type %>" data-followable_id="<%= @followable_id %>" data-list_page="1" data-follow_action="<%= @follow_action %>"><i class="fas fa-check f12 mr-1 text-white "></i>Following</button>
<% end %>