<% content_for :title, @category.name %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="ml-lg-5 mb-2 p-4">
        <h3><%= @category.name %>
          <div id="follow-container">
            <%= render 'followers/follow_action' %>
          </div>
        </h3>
        <p class="mt-3">Enriched with <%= @blogs_count %> articles, Followed by <%= @followers_count %> readers</p>
      </div>
      <%= render 'blogs/blogs' %>
    </div>
    <div class="col-md-3">
      <div></div>
    </div>
  </div>
</div>