<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-1 <%= 'mb-5' unless (controller_name == 'blogs' && action_name == 'index') %>">
  <div class="container">
    <div class="navigation">
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src= "<%= image_url("bootstrap-solid.svg") %>" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      <% end %>
      <div class="navigation-menu">
        <div class="navigation-item order-1"  data-container="body" data-toggle="popover" data-placement="top" data-content="Trending" data-trigger="hover">
          <%= link_to trending_path, class: 'ico-nav-link btn btn-light' do %>
            <i class="fas fa-fire c-dark"></i>
          <% end %>
        </div>
        <div class="navigation-item order-2"  data-container="body" data-toggle="popover" data-placement="top" data-content="Popular" data-trigger="hover">
          <%= link_to trending_path, class: 'ico-nav-link btn btn-light' do %>
            <i class="fas fa-chart-line c-dark"></i>
          <% end %>
        </div>
        <%= form_with url: search_path, local: true, method: :get, html: { class: 'form-inline search-nav-form mx-1 order-last order-lg-3' } do |form| %>
          <%= form.text_field :q, placeholder: 'Search', class: 'form-control c-input rounded-0', style: 'width: 250px;', 'aria-label': "Search", data: { behavior: 'autocomplete' } %>
          <%= form.button 'Search', class: 'btn btn-theme btn-sm nav-search rounded-0' %>
        <% end %>
        <% if current_user %>
          <div class="navigation-item order-4">
            <a class="ico-nav-link btn btn-light waves-effect waves-light"><i class="fas fa-bell c-dark"></i></a>
          </div>
          <div class="navigation-item order-5">
            <%= link_to bookmarked_articles_path, class: 'ico-nav-link btn btn-light waves-effect waves-light' do %>
              <i class="fas fa-bookmark c-dark"></i>
            <% end %>
          </div>
          <div class="navigation-item dropdown order-6">
            <a class="ico-nav-link btn btn-light dropdown-toggle" href="#" id="navbarDropdown_profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user c-dark"></i>
            </a>
            <div >
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown_profile">
              <%= link_to 'Create Blog', new_blog_path, class: "dropdown-item" %>
              <a class="dropdown-item" href="<%= user_path(current_user.username) %>">My Dashboard</a>
              <a class="dropdown-item" href="<%= follow_suggestions_user_path(current_user.username) %>">Manage Following</a>
              <a class="dropdown-item" href="#">My Performance</a>
              <a class="dropdown-item" href="<%= edit_user_path(current_user.username) %>">Edit Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Recent Activity</a>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <div class="navigation-item order-last ml-2">
            <div class="cd-main-nav__list js-signin-modal-trigger">
              <%= link_to new_user_session_path do %>
                Login / SignUp
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>